{% if datum.template %}
  {% include datum.template with values only %}
{% else %}
  <div style="border: 1px dotted; padding: 50px;">
    <code>datum.template</code> is not set in the schema definition for <code>{{ datum.id }}</code>.
  </div>
{% endif %}
